.comment-content {
  margin: 4.5% 5%;
}

.comment-infos-top {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
}

.comment-infos-bottom {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-between;
}
.comment-date {
  font-weight: lighter;
}

.comment-text {
  margin: 0.75rem 0;
}

.comment-list {
  margin-top: 2.5rem;
}
