:root {
  /* Global */
  --Background-Dark: #232323;
  --Text-Dark: #ffffff;
  --Text-Nav-Dark: #787878;
  --Stroke-Color-Dark: #4d4242;
  --Anime-Card-Border-Color: rgba(73, 68, 107, 0.551);
  --Text-Dark-Hover: #ffffff;
  --Border-Dark: white;
  --See-btn: #49446b;
  --See-btn-Hover: #575371;

  --Menu-Hover-Background: rgba(105, 105, 105, 0.29);
  --Background-Menu-Button-Hover: #454545;
  --Background-Menu-Season: rgba(105, 105, 105, 0.29);

  --Background-Light: #ffffff;
  --Text-Light: black;
  --Text-Nav-Light: #212121;

  /* Tags */
  --Tag-VOSTFR: #0e8da9;
  --Tag-VF: #d81414;
  --Tag-Tab-Genre: rgba(21, 18, 169, 0.78);
  --Tag-Tab-Date: rgba(190, 81, 19, 0.78);
  --Tag-Comic: #e0ba33;
  --Tag-Adventure: #333ae0;
  --Tag-Action: #f31d2a;
  --Tag-Fiction: #1f973a;
  --Tag-Romance: rgb(246, 134, 199);
  --Tag-Ecchi: rgb(73, 5, 100);
  --Tag-Horror: rgb(14, 14, 14);
  --Tag-Sport: rgb(255, 132, 0);
  --Tag-Fight: rgb(0, 162, 255);

  /* Episodes */
  --Ep-Text-Color: #eed75e;
  --Oav-Text-Color: #37ea28;

  /* Buttons */
  --Signal-Button: #fe2727;
}

.player-content {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  overflow-y: scroll;
  padding-top: 80px;
  padding-left: 120px;
}

.open {
  transform: translateX(0px);

  .open-icon {
    display: none;
  }

  .short-menu {
    display: none;
  }
}

.close {
  transform: translateX(-325px);

  .header-back-layout,
  .header-menu,
  .body-menu {
    display: none;
  }

  .open-icon {
    display: block;
  }

  .short-menu {
    display: block;
  }
}

.menu-content {
  position: relative;
  color: var(--Text-Dark);

  .menu {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 75px;
    width: 400px;
    transition: all 200ms ease-in;
    z-index: 100;

    .ep-active-menu {
      color: var(--Menu-Hover-Background);
    }

    /* width */
    ::-webkit-scrollbar {
      width: 0px;
    }

    .short-menu {
      height: 100%;
      width: 75px;
      position: absolute;
      right: 0;
      top: 0px;
      text-align: center;

      ul {
        width: 100%;

        .ep-active {
          background-color: var(--Menu-Hover-Background);
        }

        li {
          & > span {
            font-weight: bold;
            font-size: 20px;
            padding: 25px 0px;
            width: 100%;
            transition: all 500ms ease-in-out;
            list-style-type: none;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          ul li {
            font-weight: bold;
            font-size: 20px;
            padding: 25px 0px;
            width: 100%;
            transition: all 500ms ease-in-out;
            list-style-type: none;
            cursor: pointer;

            &:hover {
              background-color: var(--Menu-Hover-Background);
            }

            a {
              color: var(--Text-Dark);
              text-decoration: none;
              width: 100%;
              height: 100%;
            }
          }
        }

        .season-short-menu {
          border-top: 4px solid var(--Text-Dark);
          border-bottom: 4px solid var(--Text-Dark);
          background-color: var(--Background-Menu-Season);
        }

        .ep-short-menu:hover {
          background-color: var(--Menu-Hover-Background);
        }
      }
    }

    .short-menu-header {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 500ms ease-in-out;

      .open-icon {
        width: 40px;
        height: 40px;
      }
    }

    .short-menu-header:hover {
      background-color: var(--Background-Menu-Button-Hover);
    }

    .header-menu {
      height: 35%;
      width: 100%;
      max-height: 250px;
      position: relative;

      a,
      a:visited {
        color: rgb(116, 143, 250);
        text-decoration: none;
        transition: all 500ms ease-in-out;
      }

      a:hover {
        text-decoration: underline;
      }

      .back-img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
      }

      .header-back-layout {
        width: 100%;
        height: 100%;
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.652);
        overflow: hidden;
        padding: 10px;

        .anime-infos {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          position: relative;
          gap: 10px;
          margin-top: 20px;

          span {
            font-weight: bold;
            font-size: 20px;
          }

          p {
            font-size: 12px;
          }

          img {
            width: 100%;
            height: 70%;
            object-fit: cover;
            max-width: 150px;
          }
        }

        .others-informations {
          font-weight: bold;
          padding: 10px 0px;

          .tags {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .genre-tag {
              display: flex;
              align-items: center;
              gap: 5px;
              flex-direction: row nowrap;

              span {
                font-size: 12px;
                padding: 2px 5px;
                border-radius: 5px;
              }
            }

            .date-tag {
              display: flex;
              align-items: center;
              gap: 5px;
              flex-direction: row nowrap;
              font-size: 12px;
            }
          }

          .lang-tag {
            margin-top: auto;
            position: absolute;
            bottom: 20px;
            right: 10px;
            font-size: 17px;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: var(--Tag-VOSTFR);
          }
        }
      }
    }

    .body-menu {
      .season-content {
        margin-top: 20px;
        margin-left: 30px;
        white-space: nowrap;

        .season-number {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 25px;
          margin-bottom: 40px;
        }

        li {
          list-style-type: none;
          margin: 20px 0px;
          font-weight: bold;
          white-space: nowrap;
          transition: all 200ms ease-in-out;

          a {
            color: var(--Text-Dark);
            text-decoration: none;
            width: 100%;
            height: 100%;
          }
        }

        li:hover {
          text-decoration: underline;
          color: rgb(207, 207, 207);
          cursor: pointer;
        }
      }
    }
  }

  .menu.open {
    .close-cross {
      z-index: 100;
      position: sticky;
      top: 5px;
      width: 100%;

      .close-icon {
        position: absolute;
        left: 370px;
      }
    }
  }
}

.container-watch {
  width: 100%;
  height: 100%;
  max-height: 70vh;

  .anime-episode-title {
    color: var(--Text-Dark);
    text-transform: uppercase;
  }

  .player-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0px;
    font-weight: bold;
    gap: 20px;

    .arrow-icons {
      height: 10px;
      width: 10px;
    }

    .player-button {
      display: flex;
      flex-direction: row;
      color: var(--Text-Dark);
      align-items: center;
      margin-right: auto;

      p {
        margin-right: 7px;
      }
    }

    .top-video-button {
      background-color: var(--Background-Dark);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      color: var(--Text-Dark);
      width: 150px;
      cursor: pointer;
      height: 44px;
      font-weight: 500;
      border-radius: 10px;
      font-size: 12px;
      font-family: "Inter", sans-serif;
      border: none;
      position: inherit;
      transition: all 200ms ease-in-out;
      text-align: center;
      padding: 0px 10px;
    }

    .top-video-button:hover {
      background-color: var(--Background-Menu-Button-Hover);
    }

    select {
      appearance: none;
      background-color: var(--Background-Dark);
      color: var(--Text-Dark);
      border: none;
      // replace default arrow with custom arrow
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-size: 20px;
      outline: none;
    }
  }

  button::before {
    content: attr(data-title);
    position: absolute;
    display: none;
    right: 0;
    top: -50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-weight: bold;
    padding: 4px 6px;
    word-break: keep-all;
    white-space: pre;
  }

  button:hover::before {
    display: inline-block;
  }

  .playback-animation {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 1;
  }

  .video-container {
    width: 100%;
    border-radius: 4px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Background-Dark);

    video {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
    }

    .loader-container {
      text-align: center;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: var(--Background-Dark);

        svg {
          height: 200px;
          width: 200px;
          z-index: 20;
        }
      }
    }

    .video-controls {
      right: 0;
      left: 0;
      padding: 10px;
      position: absolute;
      bottom: 0;
      transition: all 0.2s ease;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.5)
      );
    }

    .video-controls.hide {
      opacity: 0;
      pointer-events: none;
    }

    .video-progress {
      position: relative;
      height: 8.4px;
      margin-bottom: 10px;
    }

    progress {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 2px;
      width: 100%;
      height: 8.4px;
      pointer-events: none;
      position: absolute;
      top: 0;
    }

    progress::-webkit-progress-bar {
      background-color: #474545;
      border-radius: 2px;
    }

    progress::-webkit-progress-value {
      background: var(--youtube-red);
      border-radius: 2px;
    }

    progress::-moz-progress-bar {
      border: 1px solid var(--youtube-red);
      background: var(--youtube-red);
    }

    .seek {
      position: absolute;
      top: 0;
      width: 100%;
      cursor: pointer;
      margin: 0;
    }

    .seek:hover + .seek-tooltip {
      display: block;
    }

    .seek-tooltip {
      display: none;
      position: absolute;
      top: -50px;
      margin-left: -20px;
      font-size: 12px;
      padding: 3px;
      content: attr(data-title);
      font-weight: bold;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .bottom-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .left-controls {
      display: flex;
      align-items: center;
      color: #fff;
    }

    .volume-controls {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .volume-controls input {
      width: 100px;
      opacity: 1;
      transition: all 0.4s ease;
    }

    .volume-controls:hover input,
    .volume-controls input:focus {
      width: 100px;
      opacity: 1;
    }

    button {
      cursor: pointer;
      position: relative;
      margin-right: 7px;
      font-size: 12px;
      padding: 3px;
      border: none;
      outline: none;
      background-color: transparent;
    }

    button * {
      pointer-events: none;
    }

    button:hover::before {
      display: inline-block;
    }

    .fullscreen-button {
      margin-right: 0;
    }

    .pip-button svg {
      width: 26px;
      height: 26px;
    }

    input[type="range"] {
      height: 8.4px;
      background: transparent;
      cursor: pointer;
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      border-radius: 1.3px;
      -webkit-appearance: none;
      transition: all 0.4s ease;
    }

    input[type="range"]::-webkit-slider-thumb {
      height: 16px;
      width: 16px;
      border-radius: 16px;
      background: var(--youtube-red);
      cursor: pointer;
      -webkit-appearance: none;
      margin-left: -1px;
    }

    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: transparent;
    }

    input[type="range"].volume {
      height: 5px;
      background-color: #fff;
    }

    input[type="range"].volume::-webkit-slider-runnable-track {
      background-color: transparent;
    }

    input[type="range"].volume::-webkit-slider-thumb {
      margin-left: 0;
      height: 14px;
      width: 14px;
      background: #fff;
    }

    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      border: 1px solid transparent;
      background: transparent;
      border-radius: 1.3px;
    }

    input[type="range"]::-moz-range-thumb {
      height: 14px;
      width: 14px;
      border-radius: 50px;
      border: 1px solid var(--youtube-red);
      background: var(--youtube-red);
      cursor: pointer;
      margin-top: 5px;
    }

    input[type="range"]:focus::-moz-range-track {
      outline: none;
    }

    input[type="range"].volume::-moz-range-thumb {
      border: 1px solid #fff;
      background: #fff;
    }
  }

  .hidden {
    display: none;
  }

  svg {
    width: 28px;
    height: 28px;
    stroke: #fff;
    cursor: pointer;
  }

  .bottom-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .reported-button {
      background-color: rgb(207, 40, 40);
      font-family: "Roboto", sans-serif;
      border: none;
      margin-top: 10px;
      font-size: 14px;
      font-weight: bold;
      color: var(--Text-Dark);
      width: 150px;
      cursor: pointer;
      text-align: center;
      height: 44px;
      border-radius: 4px;
    }

    .reported-button:hover {
      background-color: rgb(209, 60, 60);
    }

    .menu-report {
      display: flex;
      flex-direction: column;
      gap: 5px;
      border-radius: 12px;
      opacity: 0.9;
      height: 20px;
      margin-top: 10px;
      margin-right: 10px;
      align-items: center;

      button {
        width: 60px;
        background-color: rgb(207, 40, 40);
        color: var(--Text-Dark);

        &:hover {
          background-color: rgb(209, 60, 60);
        }
      }
    }
  }
}
.player-comment {
  padding-top: 15rem;
}
