.textSeason {
  padding: 5px 15px;
  font-size: 25px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
