.login-title {
  margin-top: 1rem;
}

.containeur-form-login {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  max-width: 47.5rem;
  text-align: center;
}

.login-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}