.SummaryGlobal {

    display: flex;
    flex-direction: row;

    .AnimeInfos {
        
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-left: 100px;
        padding-top: 100px;
        overflow-y: hidden;
        
        
        .imgSummary{
            width: 600px;
            height: 350px;
            &>img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        

        &>h1 {
            font-size: 70px;
            font-weight: bold;
            text-shadow: 30%;
        }

        .genres {

            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            
            &>h3 {
                padding: 3px 10px;
                border-radius: 10px;
                font-size: 25px;
            }
        }
        &>h3 {
            width: 80%;
            padding-top: 30px;
            font-size: 15px;
        }
    }

    .SerieComponent {
        width: 43%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 100px;
        overflow-y: scroll;
    }

    .SeasonList {
        display: flex;
        flex-flow: column nowrap;
        gap: 10px;
        padding-left: 15px;
        padding-top: 100px;
        overflow-y: hidden;
    }

}