nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  z-index: 300;

  .logo {
    font-family: "KeroKero";
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    li {
      margin: 0 10px;
      list-style-type: none;
    }
  }

  a {
    text-decoration: none;
  }
}
